@{
    ViewBag.Title = "ABOUT BLACKHAND";
}
<div>
    
</div>

<div class="well">
    <div>
        <img class="img-responsive" src="~/Images/items/aboutpage/about_blackhand_02.jpg" />
    </div>
</div>

<div class="well">
    <h3 class="img-responsive"><em>@ViewBag.Title</em></h3>
    <img class="img-responsive" src="~/Images/items/aboutpage/about_blackhand_03.jpg" />
</div>
